
/*我的车队*/
.no-border-block {border: none; margin: 20px 5px; position: relative;padding-left: 50px;padding-right:105px}
.right-button-group-block{float: right;width: 110px;position: absolute;right: -20px;top:-15px;}
.right-button-group-block > div{padding-right: 3px}
.right-button-group-block a,.right-button-group-block button{font-size: .6em}


/*我的运单/订单*/
.order-info-block {border: 1px solid #66CCFF; border-radius:5px; margin:10px 10px 0 0; padding:5px 10px;}
.brief{height: 90px;}
.order-info-content {padding-right: 40px;position: relative;}
.order-info-brief-icon {width: 30px;height:30px;right: 5px;top:20px; position: absolute;}
.details{}
.order-info-details-content {}
.order-info-details-icon {width: 30px;height:30px;right: 2px;top:-5px; position: absolute;}
.responser-list{}
.responser-list-item{border-radius:5px;background-color:#E8E8E8;margin-bottom: 10px;padding: 3px}

.hide{display: none;}

/*帮我送注册页 textfiedld*/
.txt-container
{
	width:100%;
	margin: 0 auto;
	height:80px;
	border:1px solid #E1E1E1;
	background-color:white;
	position:relative;
}
.txt-left-color-block
{
	position:absolute;
	left:0;
	width:5px;
	height:100%;
}
.txt-label-field
{
	position:absolute;
	left:5px;
	margin:auto 10px;
	line-height:80px
}
.txt-input-field
{
	line-height:80px;
}
.txt-input-field > input
{
	height:78px;
	width:100%;
	border:0px;
	margin:0;
	padding:0;
}


a > img
{
	width: 100px;
	height:100px;
}

.description
{
	font-size:.9em;
	font-weight: bold;
}

.description span
{
	font-weight: normal;
	color: #7F7F7F;
}

/*订单描述行间距*/
.description div
{
	margin-bottom:2px;
}


.blue-strong-head,.blue-strong-head > span {color: #00BFFF; font-size: 1.2em; font-weight: bold;}
.red-strong,.red-strong > span {color:#FF6A6A; font-size:1.2em; font-weight: bold;}

/*无边框表单行*/
.form-line-wrapper{
	float: left;
	width: 100%;
	line-height: 35px;
	font-size: 16px;
}

.form-line-wrapper > .left{
	float: left;
	width: 75px;
	padding: 6px 0px;
}

.form-line-wrapper > .left > label{
	margin: 0;
	height: 35px;
	font-size:.8em;
	font-weight: bold;
}

/*覆盖默认样式*/
.red-strong > .left > label,.blue-strong-head > .left > label
{
	font-size: 1em;
} 

.form-line-wrapper > .content{
	float: left;
	width: 125px;
	margin: 0 15px;
	font-size: .8em;
}


.form-line-wrapper > .content > label{
	margin: 6px 0;
	font-weight: normal;
	color: #7F7F7F;
	/*覆盖jqm样式*/
	font-size:1em;
}
.form-line-wrapper > .right {
	float: left;
	padding: 6px 0px;
}

.form-line-wrapper > .right > label{
	margin-bottom:  0;
	height: 35px;
	font-size:.8em;
	font-weight: bold;
}

.form-line-wrapper > .right > a{
	margin-bottom:  12px;
}


/*个人设置表单行*/
.settings-line-wrapper{
	float: left;
	width: 100%;
	line-height: 25px;
	font-size: 16px;
}

.settings-line-wrapper > .left{
	float: left;
	width: 10%;
}
.settings-line-wrapper > .left > img{
	width: 25px;
	height: 25px;
	padding: 6px 0px;
}

.settings-line-wrapper > .content{
	float: left;
	width: 40%;
	margin: 0 5px;
}
.settings-line-wrapper > .content > label,.settings-line-wrapper > .content > a{
	margin: 0;
	height: 25px;
	font-size:.8em;
	font-weight: bold;
	padding: 6px 0px;
}
.settings-line-wrapper > .right {
	float: right;
	width: 30%;
	text-align: right;
}


hr{
	width: 100%;
	background-color:#D3D3D3;
	border:0;
	height:1px;
	line-height: 5px;
}


/*扩展jquery mobile icon*/
.ui-icon-usr-no-image {background:url('img/noPhoto.png') no-repeat 0 0;}

.ui-icon-want-delivery {background:url('img/home/t_w.png') no-repeat 0 0;}

.ui-icon-request-delivery {background:url('img/home/s_w.png') no-repeat 0 0;}

/*导航栏*/
.ui-header
{
	height: 44px
}

#back-btn
{
	display: block;
	padding:10px 12px;
	margin: auto 0;
}

#back-btn img
{
	float: left;
	width: 15px;
	height: 15px;
	margin: auto 5px auto 0;
}

#back-btn span
{
	display: block;
	float: right;
	margin: auto 0;
	/*font-size: 1.2em*/
}

.right-nav-btn 
{
	padding: 0;
}
.right-nav-btn img
{
	width: 45px;
	height: 30px;
}

/*ui-navbar样式*/
div.ui-navbar li>a.ui-btn
{
	background-color: #fff;
	color: #3498db;
}
div.ui-navbar li>a.ui-btn.ui-btn-active
{
	background-color: #3498db;
	color: #fff;
}
div.ui-navbar li>a.ui-btn:hover
{
	background-color: #A0D5F8;
	border-color: #A0D5F8;
	color: #fff;
}

/*调整费用加减按钮大小*/
 .ui-controlgroup-controls .ui-mini-padding {
	padding: .4em .5em;
}
